.div img {
    display: block;
    margin: auto;
    width: 200px;
    
}
.div {
    background-color: #ffffff;
    border: solid rgb(215, 212, 212) 1px;
    margin: 10px;
    padding: 10px;
    transition: 0.5s ease;
}
div li {
    list-style: none;
}
#product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    padding: 30px;
}
.div:hover {
    box-shadow: 0px 8px 6px rgba(23, 22, 22, 0.1);
    border: solid 1px rgb(92, 92, 98);
    transition: 0.3s;
    transform: scale(1.01);
    
}
#product button {
    background-color: rgb(200,198,232);
    padding: 10px;
    margin-bottom: 10px;

    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
#div {
    display: flex;
    gap: 20px;
}
main h2 {
    background-color: rgb(200,198,232);
    text-align: center;
    padding: 10px;
}
#cart h3 {
    border-bottom: solid 6px rgb(200,198,232);
    text-align: center;
    padding-bottom: 10px;
}
#cart {
    margin-top: 40px;
    width: 320px;
    height: 640px;
    position: sticky;
    top: 20px;
    border-radius: 3px;
    border: solid 6px rgb(200,198,232);
    background-color: #ffffff;
 }
 #cart p {
    text-align: center;
    border-bottom: solid 1px rgb(152, 149, 149);
    padding: 10px;
 }
 #total button {
    background-color: rgb(200,198,232);
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
 }
 #total {
    text-align: center;
    padding: 10px;
 }
footer ul {
    text-align: center;
    list-style: none;
}