.div img {
    width: 200px;
    height: 200px;
}
.div {
    background-color: #ffffff;
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
}
div li {
    list-style: none;
}
#product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    padding: 30px;
}
#div {
    display: flex;
    gap: 20px;
}
main h2 {
    background-color: rgb(200,198,232);
    text-align: center;
    padding: 10px;
}
#cart h3 {
    border-bottom: solid 1px rgb(152, 149, 149);
    text-align: center;
    padding-bottom: 10px;
}
#cart {
    margin-top: 30px;
    width: 320px;
    height: 640px;
    position: sticky;
    top: 20px;
    border-radius: 3px;
    border: solid 6px rgb(200,198,232);
    background-color: #ffffff;
 }
 #cart p {
    text-align: center;
    border-bottom: solid 1px rgb(152, 149, 149);
    padding: 10px;
 }
 #total button {
    background-color: rgb(200,198,232);
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
 }
 #total {
    text-align: center;
    padding: 10px;
 }