header, footer {
    background-color: rgb(200, 198, 232);
    padding: 15px;
}
body {
    background-color: rgb(233, 242, 246);
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding: 0;
    max-width: 1000px;
}
.card {
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    margin: 6px 0 6px 0;
}
a {
    color: black;
}
li.active {
    background-color: rgb(165, 128, 182);
}
#list {
    text-decoration: none;
    display: flex;
    list-style: none;
    gap: 1em;
}
#list a:hover {
    transition: 0.3s;
}