main {
    font-size: 10px;
}
.match {
    border-radius: 10px;
    border: solid rgb(95, 135, 165) 6px;
    background-color: rgb(252, 246, 246);
    text-align: center;
    width: 350px;
    margin: 10px;
    padding: 10px;
}